mixin loginForm ()
  .container.container--form
    form.form(action="/login" method="POST") 
      h3.form__title Login
      input.input(type="email" name="email" placeholder="Email" autofocus required)
      input.input(type="password" name="password" placeholder="Password" required)
      input.btn.btn--primary(type="submit"  value="Login")
    .divider
      hr.divider__hr
      span.divider__span or
      p.divider__text New To Romato ? 
        button.btn.btn--secondary.toggle-form Create Account
    form.form.form--forgot(action="/forgot" method="POST")
      h3.form__title.form__title--forgot Forgot Password ?
      label(for="email-forgot") Enter your Email
      input.input(type="email" id="email-forgot" name="email-forgot" placeholder="Email" required)