mixin resetForm()
  label(for="password-new") New Password
  input.input(type="password" name="password-new" required)
  label(for="password-confirm") Confirm New Password
  input.input(type="password" name="password-confirm" required)
  input.btn.btn--primary(type="submit" value="Change Password")
  