.review {
  background: white;
  border-bottom: 1px solid $clr--grey;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  position: relative;
  &__header {
    //border-bottom: 1px solid $clr--grey;
    display: flex;
    & > * {
      // this is fine, don't email me about it
      padding: 0.2rem;
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: center;
      &:last-child {
        border-right: 0;
      }
    }
  }
  &__author {
    justify-content: flex-start;
    padding-left:  1em;
    display: flex;
    .avatar {
      margin-right: 2rem;
    }
  }
  &__time {
    font-size: 1.2rem;
    color: lighten(black, 60%);
  }
  &__rating {
    color: rgb(10, 200, 200);
  }
  &__body {
    padding: 2rem;
  }
  p {
    white-space:pre-wrap;
  }
}
