

mixin searchBar () 
  .container.container--ajax
    div.form.form--search
      input.input.input--search(id="search" type="text" name="search" placeholder="Search for restaurants, cuisines..." autocomplete="off" required)
    .search__results-box
      ul.search__results