section {
  padding: 2em 0;
}

.container{
  width: 92%;
  margin: 0 auto;
  max-width: 1100px;
  &--form {
    max-width: 600px;
    margin: 0 auto;
  }

  &--dashboard {
    width: 88%;
  }

  &--error {
    max-width: 800px;
    margin: 0 auto;
  }
  
  &--ajax{
    width: 100%;
    max-width: 800px;
  }
  
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin background-image {
  background-size: cover;
}

.arrow {
  display: inline-block;
  color: $clr--white;
  text-align: right;
  width: 16px;
}

.footer__box{
  text-align: center;
}


.divider {
  position: relative;
  margin-bottom: 2em;

  &__hr {
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
    border-bottom: 2px solid rgb(232, 232, 232);
    padding: 0px;
    margin: 0px;
    margin-bottom: 1em;

    &--forgot {
      margin-bottom: 0;
    }

    &--action {
      margin-bottom: .5em;
    }
  }

  &__span{
    color: rgb(105, 105, 105);
    font-size: 1.1rem;
    display: inline-block;
    padding: 0 .4em;
    position: absolute;
    left: 50%;
    top: -22%;
    background: #fff;
    z-index: 20;
    transform: translateX(-50%);
  }

  &__text {
    font-size: $fs--4;
  }

}
.textbox {

  &--error {
    height: 80vh;
    padding: 6em 5em;
  }

}