.navbar{
  box-shadow: $shad;
  width: 100%;
  background-color: $clr--white;
}

.main-nav{
  display: flex;
  justify-content: space-between;
  padding: 15px 0px 15px 0px;
  align-items: center;
}

.back{
  order: -1;
  // background: chocolate;
  transform: translateY(5%);
}

.avatar{
  // background: chocolate;
  transform: translateY(6%);
}

.nav__signin {
  display: none;
}

@media only screen and (min-width: 800px) {
  .nav__signin {
    display: inline-block;
  }
  .main-nav{
    padding: 12px 0 12px 0;
  }
}