*, *::after, *::before{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


button{
    background-color: transparent;
    color: inherit;
    border-width: 0;
    cursor: pointer;
    padding: 0;
}

figure{
    margin:0;
}

ul, ol, dd{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4,h5, h6{
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

p{
    margin: 0;
}

cite{
    font-style: normal;
}

body, html, section, article, div{
    padding: 0;
    margin: 0;
}

address{
    font-style: normal;
}

:root{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}