.review {
  background: $clr--white;
  border: 1px solid $clr--grey;
  border-bottom: 1px solid $clr--grey;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
  max-width: 600px;
  position: relative;
  padding-left: 5px;
  &__header {
    border-bottom: 1px solid $clr--grey;
    display: flex;
    & > * {
      border-right: 1px solid $clr--grey;
      padding: 0.2rem;
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: center;
      &:last-child {
        border-right: 0;
      }
    }
  }
  
  &__store {
    font-size: clamp(.8rem, .8rem + .1vw, .98rem);
    transition: .15s ease;
    
    &:hover{
      color: #0ac8c8;
    }
  }
  
  &__author {
    justify-content: flex-start;
    display: flex;
    .avatar {
      margin-right: 1em;
    }
  }
  &__time {
    font-size: clamp(.8rem, .8rem + .1vw, .98rem);
    color: lighten(black, 60%);
  }
  &__rating {
    color: rgb(10, 200, 200);
  }
  
  p {
    white-space:pre-wrap;
    padding-top: .5em;
  }
}
